# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
/composer.lock
/composer.json
/api/modules/rent/Module.php
/api/modules/rent/controllers/RegisterObjectsController.php
/console/migrations/m180629_060028_add_new_table_register_objects.php
/api/modules/rent/views/register-objects/add.php
