ul.token-input-list {
    position: absolute;
    display: inline-block;
    left: 100px;
}

div.filter_select_container input {
    width: 230px;
    height: 20px;
    top: 4px;
}

div.filter_input_container input {
    width: 230px;
    height: 20px;
    top: 4px;
}

div.filter_input_container input:hover,
div.filter_input_container input:focus {
    background: transparent;
}

div.filter_select_container,
div.filter_input_container {
    width: 100%;
    position: relative;
    display: inline-block;
}

div.filter_select_container span.title,
div.filter_input_container span.title {
    position: absolute;
    display: inline-block;
    height: 28px;
    line-height: 30px;
    z-index: 1;
    text-shadow: 0 0px 5px #fff;
    background: #fff;
    color: #555;
    font-size: 13px;
    padding: 0 2px;
    border-right: 1px solid #acacac;
    text-align: center;
}
div.filter_input_container span.title {
    top: 4px!important;
}
div.filter_select_container select,
div.filter_input_container input {
    position: relative;
    z-index: 2;
    background: transparent;
}

table.med_services_report td {
    padding: 2px 5px;
}
table.med_services_report tr.head td {
    font-weight: bold;
    text-align: center;
}
table.med_services_report td.centered {
    text-align: center;
}
#report_container {
    padding: 10px;
    padding-top: 15px;
    vertical-align: top;
    height: 550px;
    border-style: solid;
    border-color: #BEBEBE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
}
#report_container tr:nth-child(1) td{
    background: #BEBEBE;
    color: #4f4f4f;
}
#report_container tr:nth-child(even) {
    background: #DDDDDD;
}
#report_container tr:nth-child(odd) {
    background: #EBEBEB;
}